language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1

matrix:
  exclude:
    - php: 5.5
      env: TYPO3_VERSION="^8.7"
    - php: 5.6
      env: TYPO3_VERSION="^8.7"

env:
  - TYPO3_VERSION="^7.6"
  - TYPO3_VERSION="^8.7"

sudo: false

addons:
  apt:
    packages:
      - parallel

cache:
  directories:
    - $HOME/.composer/cache

install:
  - composer require --dev typo3/cms="$TYPO3_VERSION"
  - git checkout .
  - export TYPO3_PATH_ROOT=$PWD/.Build/public

script:
  - >
    echo;
    echo "Running unit tests";
    .Build/vendor/bin/phpunit -c .Build/vendor/nimut/testing-framework/res/Configuration/UnitTests.xml Tests/Unit/

  - >
    echo;
    echo "Running php lint";
    find . -name \*.php ! -path "./.Build/*" | parallel --gnu php -d display_errors=stderr -l {} > /dev/null \;

  - >
    echo;
    export typo3DatabaseName="typo3";
    export typo3DatabaseHost="localhost";
    export typo3DatabaseUsername="root";
    export typo3DatabasePassword="";
    find 'Tests/Functional' -wholename '*Test.php' | parallel --gnu 'echo; echo "Running functional test suite {}"; .Build/vendor/bin/phpunit -c .Build/vendor/nimut/testing-framework/res/Configuration/FunctionalTests.xml {}'
